* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

body {
    background-color: black;
}

#site-background {
    background-image: url("/assets/home-background.jpg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position-x: right;
    background-position-y: -52px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.150) 0, rgba(255, 255, 255, 0.140) 16.56%, rgba(255, 255, 255, 0.130) 30.85%, rgba(255, 255, 255, 0.120) 43.77%, rgba(255, 255, 255, 0.100) 56.23%, rgba(255, 255, 255, 0.09) 69.15%, rgba(255, 255, 255, 0.07) 83.44%, rgba(255, 255, 255, 0.03));
    background-repeat: repeat-x;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

#logo {
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.8rem;
    margin-left: 150px;
}

#header-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu-item a {
    color:rgb(255, 255, 255);
    opacity: 0.6;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
}

.menu-item a:hover {
    opacity: 1;
}

#criar-conta-link {
    background: linear-gradient(81deg, rgb(40, 231, 183) 12%, rgb(219, 17, 159) 80%);
    opacity: 0.8;
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: black;
    font-weight: bold;
}

#criar-conta-link:hover {
    opacity: 1;
    color: white;
}

#home-container {
    height:600px;
    margin-left: 100px;
    text-align: center;
}

#slogan {
    margin-top: 90px;
    font-weight: thin;
    font-size: 2.3rem;
    width: 45rem;
    color:white;
}

#slogan h2 {
    width: 50rem;
    font-weight: bold;
    text-align: left;
}

#login-container {
    height:600px;
    background-image: url("/assets/login-background.jpg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: -25rem;
    background-position-y: -0.8rem;
    padding-top: 100px;
}

.div-login {
    margin-left: 71rem;
    text-align: justify;
}

#field-login {
    background-color:rgb(30, 33, 38);
    box-shadow: rgba(255, 255, 255, 0.085) 5px 6px 12px -2px, rgba(255, 255, 255, 0.219) 2px 3px 7px -3px;
    color:white;
    width:400px;
    height:170px;
    border-radius: 15px;
    margin-left: 70rem;
}

h2.div-login {
    margin-left: 71rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

input {
    color:black;
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 20px;
    padding-left: 10px;
    width: 250px;
}

#btn-login {
    font-size: 1.2rem;
    background: linear-gradient(81deg, rgb(40, 231, 183) 12%, rgb(134, 0, 196) 80%);
    opacity: 0.7;
    border-style: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.136) 5px 6px 12px -2px, rgba(0, 0, 0, 0.711) 2px 3px 7px -3px;
    color:rgb(0, 0, 0);
    font-weight:bold;
    padding: 6px;
    width: 100px;
    margin-left: 20rem;
}

#btn-login:hover {
    opacity: 1;
    color:rgb(255, 255, 255);
}

.cadastro {
    color: white;
    font-size: 1.2rem;
    padding-top: 8px;
}

.cadastro a {
    padding: 10px;
    color:rgb(149, 21, 208);
}

#btn-entrar {
    background: rgb(255,212,37);
    background: linear-gradient(81deg, rgba(255,212,37,1) 20%, rgba(255,115,0,1) 40%, rgb(196, 0, 98) 100%);
    border: 1px outset rgba(255,119,0,0.8);
    opacity: 0.8;
    border-radius: 10px;
    padding: 10px;
    width: 15rem;
    color:black;
    text-shadow: rgba(184, 92, 0, 0.571) 8px 5px 2px;
    font-size: 1.5rem;
    font-weight: bold;
}

#btn-entrar:hover {
    opacity: 1;
    color:white;
    text-shadow: rgba(60, 0, 123, 0.571) 8px 5px 2px;
}

#contato-container {
    background-color: rgb(30, 33, 38);
    height: 120px;
    text-align: center;
    padding: 20px;
    color: rgba(255, 255, 255, 0.362);
    font-size: 1.2rem;
}

#contato-container h2 {
    font-weight: bold;
    font-size: 1.2rem;
}